.test {
  color: black;
  padding: 0;
  margin: 0;
}

.head,
.main {
  width: 80%;
  background-color: #2d2e33;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
}

@media (max-width: 800px) {

  .head,
  .main {
    width: 100%;
    background-color: #2d2e33;
    color: white;
    /* margin-left: 6.5%; */
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
  }
}

.head {
  display: flex;
  justify-content: space-between;
}

.top_section {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.top_section_left p:nth-child(1) {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  vertical-align: middle;
}

.top_section_left p:nth-child(2) {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.top_section_left p:nth-child(3) {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

.top_section_right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.top_section_right p:nth-child(1) {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 12px !important;
  margin-right: 10px;
}

.top_section_right p:nth-child(2) {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px !important;
  margin-right: 10px;
}

.top_section_right button:nth-child(3) {
  font-family: "Lucida Console", "Courier New", monospace;
  border: 1px solid white;
  border-radius: 20px;
  height: 35px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .top_section {
    display: flex;

    flex-direction: column;
    border-bottom: 1px solid gray;
  }

  .top_section_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.check_icon {
  width: 19px;
  vertical-align: bottom;
  margin-right: 3px;
  color: white;
}

.card_button_image {
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.bottom_section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.like_button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  border: 1px solid white;
  border-radius: 20px;
  text-transform: uppercase;
  width: "max-content";
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features p:nth-child(1) {
  font-family: "Lucida Console", "Courier New", monospace;
  margin-top: 22px;
}

.configuration_text {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 14px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.left_card {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #f0f1f4;
  color: black;
  padding: 15px;
  width: 47%;
  border-radius: 10px;
}

.list_item {
  list-style: none;
}

.list_item::before {
  content: "";
  display: block;
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: -30px;
  margin-top: -2px;
  background-image: url("https://www.svgrepo.com/show/364354/check-circle-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.right_card {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #f0f1f4;
  color: black;
  width: 47%;
  border-radius: 10px;
  padding: 15px;
}

.right_card p:nth-child(3) {
  font-size: 12px;
}

.right_card select {
  width: 100%;
  height: 50px;
  padding: 10px;
  /* 
  background: url(https://www.gravatar.com/avatar/ba03773d5fe4b970a7d7fb57a112e932?s=32&amp;d=identicon&amp;r=PG)
    no-repeat right center; */
}

.select_wrapper {
  position: relative;
}

.text_input {
  background: url(https://www.svgrepo.com/show/532555/search.svg) no-repeat right center;
  background-size: 20px;
  background-color: white;
  background-position: 98%;
  width: 90%;
  height: 25px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 20px;
}

.button_continue {
  font-family: "Lucida Console", "Courier New", monospace;
  border: 1px solid white;
  border-radius: 20px;
  height: 35px;
  cursor: pointer;
  background-color: #2d2e33;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 1280px) {

  /* for 10 inches tablet screens */
  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .left_card {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f1f4;
    color: black;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .right_card {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f1f4;
    color: black;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {

  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .left_card {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f1f4;
    color: black;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 12px
  }

  .right_card {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #f0f1f4;
    color: black;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 12px;
  }
}